<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#">Gestion Réunions</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/collaborateur">Collaborateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">blabla</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">blabla</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="mt-3">Réunions a venir</h3>
            <div class="container">
                <table class="table table-info">
                    <thead>
                      <tr>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Object</th>
                        <th scope="col">Date</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reunion of reunions">
                        <td>{{reunion.referant.prenom}} {{reunion.referant.nom}}</td>
                        <td>{{reunion.objectif}}</td>
                        <td>{{reunion.date}}</td>
                        <td>{{reunion.lieu}}</td>
                        <td><a href="blabla" class="btn btn-success">Informations</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        <div class="row">
                <div class="col-lg-12 text-center">
                  <h3 class="mt-3">Historique des réunions</h3>
                  <div class="container">
                      <table class="table table-info">
                          <thead>
                            <tr>
                                <th scope="col">Organisateur</th>
                                <th scope="col">Object</th>
                                <th scope="col">Date</th>
                                <th scope="col">Lieu</th>
                                <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Severin</td>
                                <td>Refonte graphique du logo</td>
                                <td>21/11/2019</td>
                                <td>CESI Le Mans</td>
                                <td><a href="blabla" class="btn btn-success">Informations</a></td>
                                </tr>
                                <tr>
                                <td>Severin</td>
                                <td>Refonte graphique du logo</td>
                                <td>21/11/2019</td>
                                <td>CESI Le Mans</td>
                                <td><a href="blabla" class="btn btn-success">Informations</a></td>
                                </tr>
                                <tr>
                                <td>Severin</td>
                                <td>Refonte graphique du logo</td>
                                <td>21/11/2019</td>
                                <td>CESI Le Mans</td>
                                <td><a href="blabla" class="btn btn-success">Informations</a></td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
              </div>
              <div class="row">
                    <div class="col-lg-12 text-center">
                      <h3 class="mt-3">Tâches en cours</h3>
                      <div class="container">
                          <table class="table table-info">
                              <thead>
                                <tr>
                                  <th scope="col">Designation</th>
                                  <th scope="col">Date début</th>
                                  <th scope="col">Date fin</th>
                                  <th scope="col">Durée (heures)</th>
                                  <th scope="col">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>Aller chercher un café</td>
                                    <td>21/11/2019</td>
                                    <td>22/11/2019</td>
                                    <td>2</td>
                                    <td><a href="blabla" class="btn btn-success">Informations</a></td>
                                </tr>
                                <tr>
                                    <td>Aller chercher un café</td>
                                    <td>21/11/2019</td>
                                    <td>22/11/2019</td>
                                    <td>2</td>
                                    <td><a href="blabla" class="btn btn-success">Informations</a></td>
                                </tr>
                                <tr>
                                    <td>Aller chercher un café</td>
                                    <td>21/11/2019</td>
                                    <td>22/11/2019</td>
                                    <td>2</td>
                                    <td><a href="blabla" class="btn btn-success">Informations</a></td>
                                </tr>
                              </tbody>
                              <tfoot>
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td><a href="all"></a></td>
                                    </tr>
                                  </tfoot>
                            </table>
                      </div>
                    </div>
                  </div>
      </div>
      <br><br>
<article class="bg-secondary mb-3 navbar-fixed-bottom">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Gestion de réunions</h3>
<p class="h5 text-white">BOUCHET Séverin | Julien PINTO | Aurélien Duperray | Damien Marie</p>
</div>
</article>


    <!-- Bootstrap core JavaScript -->
  <script src="../assets/bootstrap/js/jquery.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
