<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Gestion Collaborateurs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collaborateur">
            Collaborateurs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addreunion">Ajouter réunion</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/role">Rôle
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="mt-3">Collaborateur</h3>
      <div class="container">
        <table class="table table-info">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Libelle</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.id}}</td>
            <td>{{role.libelle}}</td>
            <td><button class="btn btn-danger" (click)="deleteRole(role.id)">supprimer</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!--  <div class="card bg-light">-->
<!--    <article class="card-body mx-auto" style="max-width: 400px;">-->

<!--      <h4 class="card-title mt-3 text-center">Creation d'un rôle</h4>-->
<!--      <form>-->
<!--        <div class="form-group input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text"> <i class="fas fa-bullseye"></i> </span>-->
<!--          </div>-->
<!--          <input name="nom" [(ngModel)]="role.libelle" class="form-control" placeholder="Libellé" type="text">-->
<!--        </div> &lt;!&ndash; form-group// &ndash;&gt;-->
<!--      </form>-->
<!--    </article>-->
<!--  </div> &lt;!&ndash; card.// &ndash;&gt;-->
</div>
<br><br>
<article class="bg-secondary mb-3 navbar-fixed-bottom">
  <div class="card-body text-center">
    <h3 class="text-white mt-3">Gestion de réunions</h3>
    <p class="h5 text-white">Bouchet Séverin | Pinto Julien | Duperray Aurélien | Marie Damien</p>
  </div>
</article>


<!-- Bootstrap core JavaScript -->
<script src="../assets/bootstrap/js/jquery.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
